
.sidebar2 {
  background-color: rgba(85, 187, 85, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  flex-grow: 0;
  height: 100%;
  min-width: 200px;
  padding: 30px 20px;
  z-index: 10;
}

.sidebar2 a,
.sidebar2 span {
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
}

.sidebar2 a:hover {
  color: black;
  border-bottom: 1px solid magenta;
}

.sidebar2 a.inactive {
  pointer-events: none;
}

.sidebar2 .logo {
  height: 100px;
  margin: 0 0 80px 0;
  width: 100px;
}

.sidebar2 ul.main-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar2 .main-menu li {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sidebar2 .sub-menu {
  list-style-type: none;
  margin-top: 15px;
  padding-left: 20px;
}

.sidebar2 .sub-menu li {
  margin-bottom: 10px;
  text-transform: none;
}
